*{
    margin: 0;
    padding: 0;
}
body { 
    font-family: Arial, sans-serif; 
    background-color: white; 
    margin: 0; 
    padding: 0; 
}

.header-container{
    background-color: white;  
    justify-content: flex-end;  
    align-items: center;
    display: inline-flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 100px 10px 100px; 
}
.banner{
    display: flex;
    justify-content: center;
}
.logo{
    padding-right: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 10px;
}
.image {
    width: 100px; 
    height: auto; 
    margin: 0 10px; } 
h1 { 
    font-size: 24px; 
    margin: 0 20px;
}
.search-bar{
    padding: 10px;
    width: 300px;
}
.account-options{
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}
p{
    display: inline;
    margin: 20px;
}
.cart{
    margin-left: 20px;
    font-size: 18px;
}
.account-options{
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}
.header-container .cart{
    display: inline;
}
a{
    font-size: large;
    text-decoration: none;
    color: black;
}

.top-bar{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: white;
    padding: 10px ;
}

.menu {
    list-style-type: none;
    margin-left: 10%;
    padding: 0;
}

.menu-item {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.menu-item a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu-item:hover .submenu {
    display: block;
}
.menu-item a:hover{
    color: #ff0000;
}
.submenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.submenu li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.submenu a:hover {
    color: #ff0000;
}

.heat{
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog img{
    margin-left: 10% ;
}
.Newsletters{
    background-color: rgb(10, 10, 164);
    border: 1px solid #ddd;
    color: white;ite;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 275px;
    left: 754px;
    right: 250px;
    bottom: 250px;
}
.Newsletters input[type="text"]{
    display: block;
    padding: 10px;
    width: 50%;
    height: 30px;
}
.Newsletters input[type="submit"]{
    display:block;
    background-color: #ff0000;
    color: white;
    border: none;
    margin-left: 100px;
    padding: 10px;
    width: 140px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.dio{
    display: flex;
    padding: 40px;
    
}